background{
  margin:5px auto;
}


/* .card-content{
  padding:0;
} */
.card-image > .card-content{
  padding: 0px;
}

h3{
  overflow-x: hidden;
  font-size: 25px;
  /*padding-top: 15px;
  padding-right: 18px; */
}



.cards:hover{
  box-shadow: 0px 3px #08030381;
  /* margin-top: 1px;
  margin-bottom: -1px; */
}
